body {

}

.window {
	background: linear-gradient(to right,#dc052c,#bf2531);
	width: 95%;
	height: 94vh;
	margin: 3vh auto;
	border-radius: 5%;
	overflow: hidden;
}

.header {
	display: flex;
 	/* 	flex-wrap: wrap;*/
	width: 100%;
	height: 12%;
	background-color: #a01439;
	text-align: center;
}

#logo {
	object-fit: scale-down;
	height: 140%;
	margin-bottom: 1.5%;
	width: 20%;
}

#title {
	vertical-align: middle;
	width: 70%;
	height: 100%;
	color: white;
	margin-right: 10%;
}


.blank {
	height: 8%;
	width: 100%;
}

.central {
	display: flex;
	height: 75%;
	justify-content: center;
	align-items: center;
}

/*.nav {
	width: 25%;
	height: 15%;
}*/

.game {
	width: 90%;
	background-color: #0369a0;	
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

table {
	margin-right: 10px;
	margin-left: 10px;
	align-items: bottom;
}

.table_img {
	width: 63.5px;
	height: 63.5px;
	display: block;
}

#buttons {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-left: 10px;
}

button {
	background-color: #a01439;
	width: 63px;
	height: 40px;
	border-radius: 5px;
	border: none;
	color: white;
	margin-bottom: 20px;
}

td {
	background-color: #dc052c;
	border-radius: 3px;
}

#tryButton {
	visibility: hidden;
}

.help {
	color: white;
}

#table_4 {
	padding-left: 20px;
}

