<div class="window">
    <header class="header">
        <img src="../assets/asset-images/logo.webp" alt="Logo" id="logo">
        <h1 id="title"> BAYERNMINDS </h1>
    </header>
    <div class="central">
        <div class="game">
            <app-left-table></app-left-table>
            <app-right-table></app-right-table>
            <app-game-logic></app-game-logic>
            <app-choose-players-table [players]="players"></app-choose-players-table>
            <app-solution-table></app-solution-table>
        </div>
    </div>
</div>
