<div style="margin-top: 15px; margin-left: 10px;">
    <div class="field-wrap">
        <img src="../../../assets/asset-images/kimich.webp" alt="Logo " class="table_img">
    </div>
    <div class="field-wrap">
        <img src="../../../assets/asset-images/lewi.webp" alt="Logo " class="table_img">
    </div>
    <div class="field-wrap">
        <img src="../../../assets/asset-images/manu.webp" alt="Logo " class="table_img">
    </div>
    <div class="field-wrap">
        <img src="../../../assets/asset-images/phil.webp" alt="Logo " class="table_img">
    </div>
    <div class="field-wrap">
        <img src="../../../assets/asset-images/thiago.webp" alt="Logo " class="table_img">
    </div>
    <div class="field-wrap">
        <img src="../../../assets/asset-images/tomi.webp" alt="Logo " class="table_img">
    </div>
</div>
